body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}


/*main styles*/

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}


/*Main conten styles*/

.main-content {
    background-color: #fff;
    box-shadow: 6px 6px 20px;
    padding: 105px 90px;
}


/*about styles*/

.about {
    margin-bottom: 40px;
}

.about-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 25px;
}

.about-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    width: 400px;
}


/*project styles*/

.projects {
    margin-bottom: 50px;
}


/*project-title styles*/

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.projects-list {
    padding: 0;
    margin-left: 15px;
}

.project-item,
.project-bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: black;
}

.project,
.project-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project-link {
    margin-left: 10px;
}


/*work styles*/

.work-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}

.organization {
    color: #FB6D3A;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work-list {
    padding: 0;
    margin-left: 15px;
}

.work-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.compani-3 {
    margin-bottom: 40px;
}


/*Education styles*/

.education {
    margin-bottom: 10px;
}

.text-education {
    margin-bottom: 10px;
}


/*sitebar styles*/

.sitebar {
    background-color: #1E2939;
    padding-top: 40px;
}

.photo {
    margin-bottom: 50px;
}

.contacts,
.tech-skills,
.soft-skills {
    margin-left: 40px;
}

.contacts {
    margin-bottom: 50px;
}

.tech-skills {
    margin-bottom: 45px;
}

.sitebar-title {
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contact-type {
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 10px;
}

.contact-link {
    color: #565e6a;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.skills-list {
    color: #fff;
    padding: 0;
    margin-left: 17px;
}

.skills-item {
    color: #fb6d3a
}

.skills-text {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}